<!-- STUDENT INSERT FORM -->
<div style="margin: 10px;">
    <button type="submit" (click)="backToIndex()" mat-raised-button>Atrás</button>
    <h2 style="margin-top: 10px;">Insertar estudiante</h2>
    <div class="example-container">
        <mat-form-field>
            <input [(ngModel)]="name" matInput placeholder="Nombre" required>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="lastName" matInput placeholder="Apellido" required>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="code" matInput placeholder="Código" required>
        </mat-form-field>

        <mat-form-field>
            <input [(ngModel)]="grade" min="1" type="number" matInput placeholder="Nota" required>
        </mat-form-field>
    </div>
    <button class="btn_insert__" type="submit" (click)="addStudent()" mat-raised-button>Guardar estudiante</button>
</div>